@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DataRoom</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 d-flex justify-content-center">
                <img src="" />
            </div>
            <div class="col-md-4"></div>
        </div>
        @if (!string.IsNullOrEmpty(Context.Session.GetString("UserName")))
        {
            <div class="row">
                <div class="col-md-4 d-flex flex-column justify-content-center text-center">Logged in as @Context.Session.GetString("UserName")</div>
                <div class="col-md-4"></div>
                <div class="col-md-4 d-flex flex-column justify-content-center text-center">@Html.ActionLink("Logout", "Logout", "Auth")</div>
            </div>
        }
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
